/*шапка*/
.header {
  position: relative;
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 90px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  background-color: #ffffff;
}
.header__menu {
  display: grid;
  justify-self: start;
  font-size: 18px;
}
.header__links-list {
  display: flex;
  gap: 30px;
  list-style: circle;
}
.header__link {
  text-underline-offset: 4px;
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
}
.header__logo-image {
  justify-self: center;
  width: 148px;
  height: 105px;
}
.header__address {
  width: 240px;
  justify-self: end;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  text-underline-offset: 4px;
  line-height: 1.3;
  font-style: normal;
}
.address {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  text-underline-offset: 4px;
  line-height: 1.3;
  font-style: normal;
}
/*Логотип*/
.cover {
  position: relative;
  overflow: hidden;
  padding: 0;
  min-height: 757px;
  display: flex;
}
.overlay {
  position: relative;
  width: 100%;
  z-index: 2;
}
.cover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cover__title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 100px;
  letter-spacing: 0.3em;
}
.aligned-text {
  display: block;
  width: 100%;
  position: absolute;
  text-transform: uppercase;
}
.aligned-text_left {
  margin-left: 50px;
  margin-top: 165px;
}
.aligned-text_center {
  margin-left: 380px;
  margin-top: 300px;
}
.aligned-text_right {
  margin-top: 435px;
  margin-left: 663px;
}
.cover-image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.cover__description {
  position: absolute;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 656px;
  margin-left: 50px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.cover__description-text {
  word-spacing: 20px;
  color: #ffffff;
  margin-right: 110px;
  display: inline-block;
}
.bet-button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 25px;
  font-size: 22px;
  cursor: pointer;
  text-transform: uppercase;
}

/* Лоты */
.lots {
  margin-top: 180px;
  min-height: 723px;
  padding: 0 25px;
  position: relative;
}
.lots__heading {
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}
.lots__card-list {
  display: flex;
  gap: 50px;
}
.lots__card-list-item {
  width: 100%;
  position: relative;
  display: block;
}

.card__title {
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
}
.card__text {
  color: #ffffff;
  padding: 20px;
  position: absolute;
  bottom: 25px;
  left: 15px;
  font-size: 20px;
  z-index: 1;
}

.lots-image {
  display: block;
  max-width: 100%;
  height: 596px;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  object-fit: cover;
}
.lots__look-more-link {
  font-size: 20px;
  padding-left: 40px;
  position: absolute;
  bottom: 0;
}
/* дополнительная  информация*/
.about {
  margin-top: 120px;
  height: 595px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  display: grid;
  grid-template-columns: 334px 1fr;
}
.about__logo {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__column {
  position: relative;
  margin-top: 133px;
  margin-left: 27px;
  display: flex;
  flex-direction: column;
}
.about__title {
  font-size: 40px;
  text-transform: uppercase;
}
.about__text {
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
/*подвал*/
.footer {
  margin-top: 180px;
  height: 180px;
  position: relative;
}
.footer-address {
  max-width: 265px;
  left: 50px;
}
.footer__menu {
  display: grid;
  justify-self: center;
  font-size: 18px;
}
.footer__menu-link {
  text-underline-offset: 4px;
}
.footer__menu-list-item {
  display: grid;
  grid-template-rows: 22px 22px 22px;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 48px;
  right: 48px;
  top: 0px;
}
.footer__social-list-item {
  list-style-type: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
