/*шапка*/
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 90px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 95px;
  background-color: #ffffff;
}
.header__menu {
  display: grid;
  justify-self: start;
  font-size: 18px;
}
.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}
.link-active {
  list-style: none;
}
.header__link {
  text-underline-offset: 4px;
}

.header__logo {
  display: block;
}
.header__logo-image {
  justify-self: center;
  width: 148px;
  height: 105px;
}
.header__address {
  width: 240px;
  justify-self: end;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  text-underline-offset: 4px;
  line-height: 1.3;
  font-style: normal;
}
/*Логотип*/
.cover {
  min-height: 757px;
  display: flex;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 0 50px;
  margin-top: 165px;
  color: #ffffff;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_left {
  text-align: left;
}
.aligned-text_center {
  text-align: center;
  margin-right: -0.3em;
}
.aligned-text_right {
  text-align: right;
  margin-right: -0.3em;
}

.cover__description {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 50px 50px 50px;
  margin-top: auto;
}

.cover__description-text {
  color: #ffffff;
  font-size: 22px;
  word-spacing: 18px;
  line-height: 1.2;
  margin-right: 111px;
}

.bet-button {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 22px;
  padding: 12px 30px;
  cursor: pointer;
  text-transform: uppercase;
  flex-shrink: 0;
  box-sizing: border-box;
}
/* Лоты */
.lots {
  margin-top: 180px;
  padding: 0 24px;
}
.lots__heading {
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card {
  position: relative;
  z-index: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-link {
  text-decoration: none;
}
.card__title {
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  padding: 48px 40px 0;
}
.card__text {
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  font-size: 20px;
  line-height: 1.2;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}
.lots__look-more-link {
  display: block;
  margin-left: 40px;
  margin-top: 30px;
  font-size: 20px;
  color: #000000;
  text-underline-offset: 4px;
}
/* дополнительная  информация*/
.about {
  margin: 120px 24px 0;
  position: relative;
  display: grid;
  grid-template-columns: 334px 1fr;
}
.about__logo {
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 50px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__column {
  position: relative;
  margin-top: 135px;
  margin-left: 29px;
  display: flex;
  flex-direction: column;
}
.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.about__text {
  font-size: 20px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
/*подвал*/
.footer {
  margin-top: 180px;
  position: relative;
  padding: 0 50px 82px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-address {
  min-width: 265px;
}
.footer__menu {
  display: grid;
  justify-self: center;
  font-size: 18px;
}
.footer__menu-link {
  text-underline-offset: 4px;
}
.footer__menu-list-item {
  display: grid;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.footer__social-list-item {
  list-style-type: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
